@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 15px;
  }
}

html, body {
  height: 100%;
}

body {
  line-height: 1.42;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0rem;
  position: relative;
}

.maincontent {
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  will-change: transform;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.footer {
  position: relative;
  width: 100%;
}

.container {
  max-width: 100%;
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul, .li {
  list-style: none;
}

h1, h2, h3, h4, p {
  margin: 0;
  font-weight: normal;
}

.hero {
  background: url("./../img/arnaud-mesureur-17OxKyThYPo-unsplash\ 1\ \(10\).png") no-repeat center;
  min-width: 100%;
  color: #FFFFFF;
  height: 100vh;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.hero__title-slogan {
  font-size: 2.6666666667rem;
  line-height: 1.3;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .hero__title-slogan {
    font-size: 2.4444444444rem;
  }
}

.hero__title-subtitle {
  font-size: 1.1666666667rem;
  margin-bottom: 2.2222222222rem;
  padding-right: 10%;
}
@media screen and (max-width: 768px) {
  .hero__title-subtitle {
    padding: 0 25%;
  }
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-section {
    padding: 0 16%;
  }
}

.hero__icons-section {
  margin-bottom: 2.7777777778rem;
}
@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.6666666667rem 0rem 2.2222222222rem 0rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .contacts-phone.header__contacts-phone {
    display: none;
  }
}

.menu {
  margin: 0rem 1.6666666667rem;
  padding-top: 0.2777777778rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  margin-right: 1.3888888889rem;
  margin-bottom: 0.5555555556rem;
}

.menu__item:last-child {
  margin-right: 0rem;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.contacts-phone {
  font-size: 1.2222222222rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-phone__icon-elem {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3333333333rem;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.1111111111rem;
}

.features__item {
  margin-right: 2.5555555556rem;
}
.features__item:last-child {
  margin-right: 0rem;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 2.5rem;
  margin-right: 0.3888888889rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 4.7222222222rem;
}

.button {
  font-size: 1.0555555556rem;
  font-weight: bold;
  padding: 1.1666666667rem 2.2777777778rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  border: none;
  margin: 3.8888888889rem 0rem;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .button {
    margin: 0rem 0rem 2.2222222222rem 0rem;
  }
}
.button--theme--white {
  background: #FEDB3F;
  color: #000000;
}
.button--theme--white:hover {
  cursor: pointer;
}
.button--theme--transparent {
  background: transparent;
  text-transform: none;
  font-weight: lighter;
  color: white;
  cursor: pointer;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 3.3333333333rem;
  text-align: center;
}

.section__caption {
  text-transform: uppercase;
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  color: white;
}
@media screen and (max-width: 768px) {
  .section__caption {
    margin: 1.1111111111rem 0rem 0rem 0rem;
  }
}

.headline {
  margin-bottom: 3.3333333333rem;
}

.headline__title {
  margin-bottom: 1.3888888889rem;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .headline__title {
    width: 105%;
    font-size: 2.3333333333rem;
  }
}

.headline__subtitle {
  color: #666666;
  text-align: center;
  padding: 0rem 25%;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 5%;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0rem;
    margin-bottom: 1.0555555556rem;
  }
}
.benefits__item:before {
  content: url("./../img/Combined\ shape\ 2204.png");
  position: absolute;
  top: 1.6666666667rem;
  right: 0rem;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item:before {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    display: none;
  }
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 2.8888888889rem;
}

.benefit__icon {
  width: 3.3333333333rem;
  height: 4.1666666667rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__subtitle {
  color: #666666;
}

.benefit__title {
  font-weight: bold;
  font-size: 1.5555555556rem;
  margin-bottom: 1.1111111111rem;
}

@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0rem;
    margin-right: 1.1111111111rem;
  }
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.7777777778rem 2.5rem 1.8888888889rem;
}

.reviews__list {
  position: relative;
  min-height: 15.5555555556rem;
}

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.reviews__item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: static;
  opacity: 1;
  pointer-events: unset;
}
@media screen and (max-width: 768px) {
  .reviews__item.active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.3333333333rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0rem 7.8888888889rem 0rem 2.2222222222rem;
}
@media screen and (max-width: 480px) {
  .reviews__content {
    padding: 0rem 4.4444444444rem 0rem 0rem;
  }
}

.reviews__title {
  font-weight: bold;
  font-size: 1.6666666667rem;
  margin-bottom: 1.2222222222rem;
  color: black;
}
@media screen and (max-width: 768px) {
  .reviews__title {
    padding: 0rem 0rem 0rem 4.4444444444rem;
  }
}

.reviews__text {
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    padding: 0rem 0rem 0rem 4.4444444444rem;
  }
}

.reviews__subtitle {
  font-weight: bold;
  font-size: 1rem;
  color: black;
}
@media screen and (max-width: 768px) {
  .reviews__subtitle {
    padding: 0rem 0rem 0rem 4.4444444444rem;
  }
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .reviews__switcher {
    padding: 0.8333333333rem 0rem 0rem 0rem;
  }
}

.reviews-switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews-switcher__link {
  display: block;
  position: absolute;
  text-decoration: none;
  width: 4.7222222222rem;
  height: 4.7222222222rem;
}

.reviews-switcher__item {
  width: 4.7222222222rem;
  height: 4.7222222222rem;
  border-radius: 50%;
  overflow: hidden;
  border: 0.3055555556rem solid transparent;
  margin: 0.5555555556rem 0.2777777778rem 0rem 0rem;
  cursor: pointer;
}
.reviews-switcher__item:hover {
  border-color: #FEDB3F;
}
.reviews-switcher__item.active {
  border-color: #FEDB3F;
}
@media screen and (max-width: 768px) {
  .reviews-switcher__item {
    width: 4.8888888889rem;
    height: 4.8888888889rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews-switcher__item {
    width: 5.2777777778rem;
    height: 5.2777777778rem;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    padding: 0 19%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0rem;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0rem;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0rem;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6111111111rem;
  border: solid 0.1666666667rem transparent;
  border-radius: 1.2%;
}
.form__input--textarea {
  height: 10rem;
  resize: none;
}
.form__input:focus {
  border-color: #FFD517;
  outline: none;
}

.order-section {
  background: #2B2B2B;
}

.from__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .from__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__title {
  color: white;
}

@media screen and (max-width: 768px) {
  .form__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.radio {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url("./../img/Vector\ \(8\).png") center no-repeat;
}
@media screen and (max-width: 480px) {
  .radio:last-child {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #FFFFFF;
}
.radio__visible:before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #FEDB3F;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__title {
  margin: -1.2222222222rem 1.3888888889rem 0.7777777778rem 1.9444444444rem;
  font-size: 1rem;
  color: white;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: rgb(228, 220, 220);
}
.fixed-menu__item:last-child {
  margin-bottom: 0rem;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: rgb(226, 221, 221);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu--shadowed{
  color: black;
}


.burger {
  width: 1.3333333333rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1.1111111111rem;
  display: none;
}
@media screen and (max-width: 768px) {
  .burger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.burger__plank {
  display: block;
  background: white;
  height: 0.2222222222rem;
  border-radius: 0.5555555556rem;
}

.map {
  height: 100vh;
}

.map__container {
  height: 90vh;
  width: 100%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  min-width: 100%;
  position: absolute;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1.1111111111rem 0rem 0rem 0rem;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 1.1111111111rem 0rem 0rem 1.1111111111rem;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .footer__contacts-phone {
    padding: 0rem 0rem 0rem 1.5rem;
    font-size: 0.88888889rem;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -0.3888888889rem 3.11111111rem 0.5rem 0rem;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .socials__list {
    margin: -1.7222222222rem 0rem 0rem -1.3888888889000004rem;
  }
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 2.5rem;
  height: 1.5555555556rem;
  background: center center no-repeat;
}

.socials__item--icon--vk {
  background-image: url("./../img/css_sprites\ \(5\).png");
  background-position: -0.2777777778rem -0.5rem;
}

.socials__item--icon--fb {
  background-image: url("./../img/css_sprites\ \(5\).png");
  background-position: -3.0555555556rem -0.7222222222rem;
}

.socials__item--icon--inst {
  background-image: url("./../img/css_sprites\ \(5\).png");
  background-position: -5.7777777778rem -0.7222222222rem;
}

.socials__item--icon--tg {
  background-image: url("./../img/css_sprites\ \(5\).png");
  background-position: -8.3333333333rem -0.6666666667rem;
}
@media screen and (max-width: 480px) {
  .socials__item--icon--tg {
    background-position: -8.8888888889rem -0.6666666667rem;
  }
}

.bx-wrapper {
  border: 0 !important;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.slider__icon-pic {
  margin: 1.6666666667rem 0rem 0rem 0rem;
}
@media screen and (max-width: 768px) {
  .slider__icon-pic {
    margin: 0rem 0rem 0rem 5.5555555556rem;
  }
}
@media screen and (max-width: 480px) {
  .slider__icon-pic {
    margin: 0rem 0rem 0rem 0rem;
  }
}

.sliders-container {
  background: #F8FAF9;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
}
@media screen and (max-width: 768px) {
  .sliders-container {
    min-width: 100%;
    min-height: 110%;
  }
}
@media screen and (max-width: 480px) {
  .sliders-container {
    max-width: 100%;
    max-height: 100%;
  }
}

.slider__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("./../img/Vector\ 2.png") center no-repeat;
  width: 100%;
  padding: 0rem 0rem 0rem 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .slider__icon {
    margin: 0rem 0rem 0rem 5.5555555556rem;
  }
}
@media screen and (max-width: 480px) {
  .slider__icon {
    margin: 0rem 0rem 0rem 0rem;
  }
}

.slider__content {
  padding: 1.6666666667rem 0rem 0rem 8.3333333333rem;
}
@media screen and (max-width: 768px) {
  .slider__content {
    padding: 0rem 0rem 0rem 5.5555555556rem;
  }
}
@media screen and (max-width: 480px) {
  .slider__content {
    padding: 0rem 0rem 0rem 0rem;
  }
}

.sliders__arrows--link {
  background: url("./../img/Vector\ 1\ \(10\).png") center center no-repeat;
  background-size: contain;
  display: block;
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  position: absolute;
  top: 36%;
  -webkit-transform: -50%;
          transform: -50%;
  z-index: 10;
}
.sliders__arrows--link--1 {
  right: 0;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.sliders__arrows--link--2 {
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.slider__content-tip {
  background: #3A587E;
  height: 5.0555555556rem;
  width: 5.0555555556rem;
  border-radius: 5%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.slider__content-tip:hover {
  background: #3465A3;
}
.slider__content-tip:hover .slider__content-search {
  display: block;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .slider__content-tip {
    display: none;
  }
}

.slider__content-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__content-img {
  padding: 0.5555555556rem 0rem 0rem 0rem;
}

.slider__content-text {
  color: white;
  font-size: 0.8888888889rem;
  font-weight: bold;
  padding: 0.5555555556rem 0rem 0rem 0rem;
}

.slider__content-search {
  width: 15.1666666667rem;
  height: 16.1666666667rem;
  background: #cfcfcf;
  border-radius: 2%;
  display: none;
  margin: 4.8888888889rem 0rem 0rem 5rem;
}

.slider__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.3888888889rem 0rem 0rem 0rem;
}
.slider__content-item:last-child {
  padding: 1.3888888889rem 0rem 1.3888888889rem 0rem;
}

.slider__content-subtitle {
  padding: 0rem 0.8333333333rem 0rem 1.3888888889rem;
  font-size: 0.8888888889rem;
  font-weight: bold;
}

.slider__content-desc {
  font-size: 0.8888888889rem;
  font-weight: lighter;
}

.slider__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  margin: 3.5555555556rem 0rem 1.3333333333rem 0rem;
}
@media screen and (max-width: 768px) {
  .slider__title {
    text-align: center;
    margin: 0rem 0rem 1.3333333333rem 0rem;
  }
}

.slider__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 768px) {
  .slider__desc {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.slider__desc-subtitle {
  line-height: 1.4;
  color: #666666;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0rem 27.5rem 2.2222222222rem 0rem;
}
@media screen and (max-width: 768px) {
  .slider__desc-subtitle {
    max-width: 29.3333333333rem;
    max-height: 4.8888888889rem;
    text-align: center;
    font-size: 0.7777777778rem;
    padding: 0rem 0rem 1.1111111111rem 0rem;
  }
}
@media screen and (max-width: 480px) {
  .slider__desc-subtitle {
    width: 21.1111111111rem;
    height: 6.1111111111rem;
    padding: 0rem 0rem 5.5555555556rem 0rem;
  }
}

.slider__desc-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__desc-text {
  padding: 0rem 5.5555555556rem 0rem 0rem;
}
@media screen and (max-width: 768px) {
  .slider__desc-text {
    padding: 0rem 0.2777777778rem 1.1111111111rem 3.0555555556rem;
  }
}
@media screen and (max-width: 480px) {
  .slider__desc-text {
    padding: 0rem 1.3888888889rem 1.1111111111rem 2.5rem;
  }
}

.item_desc-1 {
  color: #666666;
  font-weight: 400;
}

.item_desc-2 {
  font-weight: bold;
}

.slider_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__price-1 {
  font-size: 3.3333333333rem;
  padding: 3.3333333333rem 1.1111111111rem 0rem 0rem;
}
@media screen and (max-width: 768px) {
  .slider__price-1 {
    font-size: 2.7777777778rem;
    padding: 0rem 4.4444444444rem 0rem 2.7777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .slider__price-1 {
    padding: 0rem 2.2222222222rem 0rem 0rem;
  }
}

.overlay {
  height: 100%;
  width: 100%;
  background: #2B2B2B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  position: fixed;
  top: 0;
  left: 100%;
  opacity: 0;
}

.menu--vertical {
  display: block;
  text-align: center;
}
.menu--vertical:after {
  content: "";
  display: inline-block;
}

.menu__list-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0rem;
  text-decoration: none;
  width: 14.0555555556rem;
  height: 28.3333333333rem;
}

.menu__item-1 {
  padding: 1.1111111111rem 0rem 0.5555555556rem 0rem;
}

.menu__link-1 {
  font-size: 1.4444444444rem;
  color: white;
  text-decoration: none;
}

.overlay--active {
  left: 0;
  opacity: 1;
}

.body--acive-menu {
  overflow: hidden;
}

.burger--active .burger__line:nth-child(1) {
  opacity: 0;
}

.overlay__burger {
  width: 1.3333333333rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1.1111111111rem;
  display: none;
}
@media screen and (max-width: 768px) {
  .overlay__burger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: absolute;
    -webkit-transform: translate(17.7777777778rem, -20.5555555556rem);
            transform: translate(17.7777777778rem, -20.5555555556rem);
  }
  .overlay__burger .overlay__burger-plank:nth-child(1) {
    opacity: 0;
  }
  .overlay__burger .overlay__burger-plank:nth-child(2) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .overlay__burger .overlay__burger-plank:nth-child(3) {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    margin: 0rem 0rem 0.8888888889rem 0rem;
  }
}
@media screen and (max-width: 480px) {
  .overlay__burger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: absolute;
    -webkit-transform: translate(8.6111111111rem, -20.5555555556rem);
            transform: translate(8.6111111111rem, -20.5555555556rem);
  }
}

.overlay__burger-plank {
  display: block;
  background: white;
  height: 0.2222222222rem;
  border-radius: 0.5555555556rem;
}

.team-section {
  margin: 0rem 0rem 0rem 0rem;
  height: 100%;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .team {
    display: none;
  }
}

.team__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin-right: 1.1111111111rem;
  max-width: 14.4444444444rem;
  position: relative;
}
.team__item-active .team__title:after {
  content: "";
  border: transparent;
  border-bottom: solid #292929;
  border-width: 0.3888888889rem 0.3888888889rem;
  position: absolute;
  border-style: solid;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin: 0rem 0rem 0rem 0.5555555556rem;
}
@media screen and (max-width: 768px) {
  .team__item-active .team__content {
    display: block;
    height: 380px !important;
    overflow: hidden;
    -webkit-transition: height 0.8s;
    transition: height 0.8s;
  }
}

.team__member {
  height: 16rem;
  margin-bottom: 1.1111111111rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.team__title {
  color: #292929;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-decoration: none;
  border: none;
  background: transparent;
  padding: 0rem 2.2222222222rem 0rem 0rem;
  font-weight: bold;
}
.team__title:after {
  content: "";
  border-color: #292929 transparent transparent;
  border-style: solid;
  border-width: 0.3888888889rem 0.3888888889rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: absolute;
  margin: 0rem 0rem 0rem 0.5555555556rem;
}

.team--version--dekstop {
  position: absolute;
  top: 100%;
}

.team__content {
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  height: 0%;
}
@media screen and (max-width: 768px) {
  .team__content {
    height: 0px;
  }
}

.team__content-block {
  padding-bottom: 0.2777777778rem;
}

.team__occ {
  padding: 0.2777777778rem 0rem 0.2777777778rem 0rem;
  font-weight: lighter;
}

.team__content-text {
  color: #666666;
}

.team--version--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .team--version--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.modal {
  display: none;
}
.modal.error-modal .modal__content {
  color: red;
}
.modal.funcybox-content {
  padding: 0 !important;
}
.modal .fancybox-button {
  display: none;
}

.modal__container {
  background: white;
  padding: 2rem 3.3333333333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__content {
  margin-bottom: 1.6666666667rem;
  color: #000;
}

.input-error {
  border-color: red;
}

.products-menu-section {
  background: url("./../img/doska.jpg") center center/cover no-repeat;
  position: relative;
  color: white;
  height: 100%;
}

.products-menu {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.products-menu-section__title {
  text-align: left;
  font-size: 2.6666666667rem;
  text-transform: uppercase;
  padding: 0px 0px 0px 80px;
}
@media screen and (max-width: 480px) {
  .products-menu-section__title {
    padding: 0px 0px 0px 0px;
    font-size: 2.2222222222rem;
  }
}
@media screen and (max-width: 768px) {
  .products-menu {
    top: -13.6111111111rem;
  }
}
@media screen and (max-width: 480px) {
  .products-menu {
    top: -12.1111111111rem;
  }
}

.products-menu__image {
  position: relative;
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .products-menu__image {
    height: 40.055556rem;
    transform: translateY(12.8888889rem);
  }
}
@media screen and (max-width: 480px) {
  .products-menu__image {
    height: 40rem;
    transform: translateY(12.8888889rem);
  }
}

.products-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.products-menu__title {
  position: relative;
  width: 102px;
  text-decoration: none;
}

.products-menu__text {
  font-size: 41px;
  font-weight: bold;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  margin: -6.7222222222rem 0rem 0rem 0rem;
}

.products-menu__content {
  background: rgba(51, 53, 55, 0.9);
  width: 0px;
  height: 100%;
  position: relative;
  overflow: hidden;
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
}
@media screen and (max-width: 768px) {
  .products-menu__content {
    height: 40.1111111111rem;
    -webkit-transform: translateY(13.6111111111rem);
            transform: translateY(13.6111111111rem);
  }
}
@media screen and (max-width: 480px) {
  .products-menu__content {
    height: 40rem;
    -webkit-transform: translateY(12.1111111111rem);
            transform: translateY(12.1111111111rem);
  }
}

.products-menu__container {
  padding: 2.2222222222rem 4.0555555556rem 2.5rem 1.4444444444rem;
}
@media screen and (max-width: 480px) {
  .products-menu__container {
    padding: 1.1111111111rem 0rem 0rem 0.5555555556rem;
  }
}

.products-menu-section__title {
  position: absolute;
}

.video {
  background: #F8FAF9;
  height: 100vh;
}

.video__title {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.video__container {
  height: 100vh;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(11%);
          transform: translateX(11%);
}

.video__player {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.video__toolbar {
  height: 35px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #404040;
}

#video {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  visibility: visible;
}

.duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 15px;
}

.duration__icon {
  cursor: pointer;
}

.duration__length {
  width: 100%;
  height: 4px;
  border-radius: 1px;
  background: #FEDB3F;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

input[type=range] {
  background: #FEDB3F;
  border-radius: 10px;
  border-radius: 10px;
  border-radius: 12px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  background: #FEDB3F;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  cursor: pointer;
}

.duration__length--other {
  margin: 0px 0px 15px 10px;
}

.video__play--active {
  display: none;
}