.button{
    font-size: rem(19px);
    font-weight: bold;
    padding: rem(21px) rem(41px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    text-decoration: none;
    border: none;
    margin: rem(70px) rem(0px);
    cursor: pointer;

    @include tablets{
        margin: rem(0px) rem(0px) rem(40px) rem(0px);
    }
    

    &--theme--white{
        background: #FEDB3F;
        color: #000000;

        &:hover{
            cursor: pointer;
        }
    }

    &--theme--transparent{
        background: transparent;
        text-transform: none;
        font-weight: lighter;
        color: white;
        cursor: pointer;
    }
    
}