.products-menu-section{
    background: url("./../../img/doska.jpg") center center/cover no-repeat;
    position: relative;
    color: white;
    height: 100%;
}

.products-menu{
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;

    &-section__title{
        text-align: left;
        font-size: rem(48px);
        text-transform: uppercase;
        padding: 0px 0px 0px 80px;

        @include phones{
            padding: 0px 0px 0px 0px;
            font-size: rem(40px);
        }
    }

    @include tablets{
        top: rem(-245px);
    }

    @include phones{
        top: rem(-218px);
    }
}

.products-menu__image{
    position: relative;
    height: 100vh;
    

    @include tablets{
        height: rem(720px);
        width: rem(102px);
    }

    @include phones{
        height: rem(720px);
        width: rem(102px);
    }
}

.products-menu__item{
    display: flex;
    position: relative;
}

.products-menu__title{
    position: relative;
    width: 102px;
    text-decoration: none;
}

.products-menu__text{
    font-size: 41px;
    font-weight: bold;
    transform: rotate(270deg);
    margin: rem(-121px) rem(0px) rem(0px) rem(0px);
}

.products-menu__content{
    background: rgba(51, 53, 55, 0.9);
    width: 0px;
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: width .7s;


    @include tablets{
        height: rem(722px);
        transform: translateY(rem(245px));
    }

    @include phones{
        height: rem(720px);
        transform: translateY(rem(218px));
    }
}

.products-menu__container{
    padding: rem(40px) rem(73px) rem(45px) rem(26px);

    @include phones{
        padding: rem(20px) rem(0px) rem(0px) rem(10px);
    }
}

.products-menu-section__title{
    position: absolute;
}
