.socials__item--icon--vk {
  background-image: url("./../../img/css_sprites (3).png");
}

.socials__item--icon--fb {
  background-image: url("./../../img/css_sprites (3).png");
}

.socials__item--icon--inst {
  background-image: url("./../../img/css_sprites (3).png");
}

.socials__item--icon--tg {
  background-image: url("./../../img/css_sprites (3).png");
}